/* this is the thumbnail container */
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Orbitron;
    background-color: #fff;
}

button{
    position: fixed;
    font-size: 20px;
    height: 50px;
    width: 200px;
    font-family: orbitron;
    background-color: #fff;
    border: 1px solid #000;
    right: 16px;
    top: 16px;
    border-radius: 10px;
    transition: 0.2ms;
}

button:hover{
    cursor: pointer;
    border: 3px solid #000;
    font-weight: bolder;
    transition: 0.2ms
}

/* thumbnail container */
.thumbnail-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 16px;
    border: 1px solid #000;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 83px;
    height: min-content;
}

.thumbnail-content{
    margin: 8px;
    height: 342px;
    width: 381px;
}

/* main thumbnail */
.thumbnail-content img{
    width: 381px;
    height: 214px;
    background-color: gray;
    border-radius: 20px;
    transition: 0.3s;
    background-attachment: fixed;
    object-fit: cover;
}

/* every text */
.thumbnail-content .title{
  font-size: 16px;
  font-style: normal;
  font-weight: bolder;
  text-align: center;
}

.thumbnail-content .description{
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
}

/* all effects */
.thumbnail-content:hover{
    cursor: pointer;
    transform: scale(1.05);
    transition: 0.3s;
    border: 1px solid #000;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.thumbnail-content:hover img{
    border-radius: 0px;
    transition: 0.3s;
}